extends ../layouts/_html5bp

block menu
  include ../partials/_menu
block drawer
  include ../partials/_drawer
  


block main
  .mdl-shadow--2dp.mdl-color--white.mdl-cell.mdl-cell--8-col.relative
    .mdl-cell.mdl-cell--12-col
      i.mdl-color-text--blue-grey-400.material-icons insert_invitation
      form(method='post', action='/students/#{student.id}')
        p Creato il #{formatTime(student.createdAt)}
        - if(student.get('portrait'))
          img(src="#{student.get('portrait').url()}")
        - else
          img(src="/images/user_placeholder.jpg")
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
          input#portrait.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(name="portrait",type='file').
          label.mdl-textfield__label(for="portrait") Foto
          .button-righest
            button#portraitfile.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(type='submit', value='Salva Portrait')
              | Salva Portrait
          input(id="studentid", type="hidden" , value="#{student.id}")
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
          input#title.mdl-textfield__input(name='name', type="text", value="#{student.get('name')}").
          label.mdl-textfield__label(for="name") Nome
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
          input#title.mdl-textfield__input(name='surname', type="text", value="#{student.get('surname')}").
          label.mdl-textfield__label(for="surname") Cognome
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
          - each year in years
            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='radio-#{year.get("year")}')
              input.mdl-radio__button(id="radio-#{year.get('year')}",type='radio', name="years", value="#{year.get('year')}",checked)
              span.mdl-radio__label= year.get('year')

        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
          textarea.mdl-textfield__input(name='bio',rows= "5", type='text')= student.get('bio')
          label#descrizione.mdl-textfield__label(for="bio") Bio
          
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
          p Skills
          - each skill,index in skills
            - var selectedSkill = student.get("course") == skill.get('name') ? true : false
            label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-#{index}")
              input(id="checkbox-#{index}").mdl-checkbox__input(type="checkbox", name="skills", value="#{skill.get('name')}")/
              span.mdl-checkbox__label(id="checkbox-#{index}-label")= skill.get("name")
          

        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
          p Corsi
          - each course,index in courses
            - var selectedCourse = student.get("course") == course.get('name') ? true : false
              
                
            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='radio-#{index}')
              input.mdl-radio__button(id="radio-#{index}",type='radio', name="course", value="#{course.get('name')}", checked=#{selectedCourse})
              span.mdl-radio__label= course.get('name')
  

        .button-righest 
          input(type='hidden', name='_method', value='put').
          button#uploadfile.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(type='submit', value='Salva')
            | Salva
          #loader.mdl-progress.mdl-js-progress.mdl-progress__indeterminate.mdl-cell--12-col
